<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Messages</title>
</head>
<body>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    </form>
    <div>
        <form method="post">
            <input type="text" name="text" placeholder="Enter your message"/>
            <input type="text" name="tag" placeholder="Tag"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <button type="submit">Add</button>
        </form>
    </div>
    <h3>Message list:</h3>
    <form method="post" action="filter">
        <input type="text" name="filter">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Find</button>
    </form>
    {{#messages}}
        <div>
            <b>{{id}}</b>
            <span>{{text}}</span>
            <i>{{tag}}</i>
            <strong>{{authorName}}</strong>
        </div>
    {{/messages}}
</body>
</html>